<!DOCTYPE html>
<html lang="{{ app.request.locale[:2] }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
<header>
  <div class="navbar navbar-dark background-color shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg class="slope-logo align-middle pe-3" stroke="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="846.981 885.828 2558.008 1062.995" enable-background="new 846.981 885.828 2558.008 1062.995" xml:space="preserve">
                          <path d="M1336.757,1187.674c-66.924-58.686-135.045-76.312-225.486-76.312c-105.725,0-244.312,46.947-244.312,180.886
                          c0,131.544,130.35,171.498,239.616,179.689c82.204,4.695,115.069,21.127,115.069,61.078c0,42.299-50.492,70.469-104.527,69.316
                          c-64.577-1.195-158.563-35.256-199.666-81.055l-70.469,102.182c84.553,88.096,176.191,103.375,267.787,103.375
                          c165.604,0,249.006-88.096,249.006-190.275c0-153.869-138.588-178.539-247.812-185.58c-74.011-4.695-108.07-25.866-108.07-63.427
                          c0-36.407,37.604-57.578,105.724-57.578c55.188,0,102.181,12.934,143.283,51.688L1336.757,1187.674L1336.757,1187.674z"></path>
          <rect x="1386.629" y="885.828" width="142.131" height="821.03"></rect>
          <path d="M1852.885,1116.631c-166.271,0-301.271,135-301.271,301.27c0,166.314,135,301.27,301.271,301.27
                          s301.271-134.955,301.271-301.27C2154.156,1251.631,2019.154,1116.631,1852.885,1116.631z M1852.885,1576.463
                          c-87.476,0-158.519-71.043-158.519-158.562c0-87.476,71.043-158.519,158.519-158.519c87.521,0,158.563,71.043,158.563,158.519
                          C2011.448,1505.42,1940.404,1576.463,1852.885,1576.463z"></path>
          <path d="M2478.324,1116.631c-166.314,0-301.314,135-301.314,301.27v530.922h142.84V1674.17c46.062,28.523,100.365,45,158.475,45
                          c166.271,0,301.271-134.955,301.271-301.27C2779.593,1251.631,2644.593,1116.631,2478.324,1116.631z M2478.324,1576.463
                          c-87.521,0-158.562-71.043-158.562-158.562c0-87.476,71.043-158.519,158.562-158.519c87.475,0,158.52,71.043,158.52,158.519
                          C2636.843,1505.42,2565.798,1576.463,2478.324,1576.463z"></path>
          <path d="M3199.521,1719.17h-95.803h-0.975c-165.826-0.486-300.295-135.311-300.295-301.27c0-166.271,135-301.271,301.27-301.271
                          c166.271,0,301.271,135,301.271,301.271l0,0v71.439h-442.826c26.133,51.646,79.727,87.121,141.555,87.121v-0.088h229.961v142.795
                          h-134.158V1719.17z M3245.273,1346.503c-26.133-51.688-79.725-87.121-141.557-87.121c-61.83,0-115.422,35.434-141.555,87.121
                          H3245.273z"></path>
  </svg>

        <strong>{{ 'quote_request'|trans }}</strong>
      </a>
    </div>
  </div>
</header>

<div class="container py-3">
  {% block body %}{% endblock %}
</div>

<footer class="background-color text-white py-5">
  <div class="container text-center">
    <p class="mb-1 text-uppercase">{{ 'footer_message'|trans }}</p>
  </div>
</footer>

</body>
</html>
